.container
    %h1.text-center.mt-3
        My Feed
    
    .text-center.mb-3
        - if params[:filter] == "you"
            %a.btn.btn-outline-primary.btn-sm{href: "/feed"} You + Friends
            %a.btn.btn-primary.btn-sm{href: "/feed?filter=you"} You
        - else
            %a.btn.btn-primary.btn-sm{href: "/feed"} You + Friends
            %a.btn.btn-outline-primary.btn-sm{href: "/feed?filter=you"} You
    
= render 'feed/feed'