<%= erb :"common/nav" %>

<body>
    <main>
        <div id="spacer">
        <h2>Contact Me</h2>
            <p id="textBox" style="font-size: 1.2em">Any questions/suggestions you may have are 100% welcome, please send me an email over at <i>bentindal24@gmail.com</i> and i'll get back to you as soon as I can!</p>
        </div>
    </main>
</body>

<%= erb :"common/footer" %>

</html>

