<%= erb :"common/nav" %>

<body>
    <main>
        <div id="customSpacer">
            <div id="loginBox">

                <h1>Sign In</h1>
                <strong><p id="hintText" style="color: gainsboro">Enter your details below</p></strong>

                <form action="/login" method="post">
                    <p><label for="word">Username</label>
                    <br>
                    <input type="text" class="loginForm" name="username" maxlength="14" minlength="3" required></p>

                    <p><label for="word">Password</label>
                    <br>
                    <input type="password" class="loginForm" name="password" required></p>

                    <input type="submit" class="loginForm" value="Login">
                </form>

            </div>
        </div>
    </main>
</body>

<script>
if ("<%=@hint%>" !== ""){
    document.getElementById("hintText").innerText = "<%=@hint%>"
    document.getElementById("hintText").classList.add("red")
}
</script>

<%= erb :"common/footer" %>

</html>

