<%= @page_name = "Error"%>
<%= erb :"common/nav" %>

<body>
    <main>
        <div id="spacer">
            <p id="textBox" style="font-size: 1.2em"><strong>You are not signed in</strong>, perhaps you would like to <a style="color: grey" href="/">login</a>?</p>
        </div>
    </main>
</body>

<%= erb :"common/footer" %>

</html>

