<%= erb :"common/nav" %>

<body>
    <main>
        <div id="spacer">
            <p id="textBox"><strong>Page not found</strong>, maybe the URL given is not quite right, try again!</p>
        </div>
    </main>
</body>

<%= erb :"common/footer" %>

</html>

