<%= erb :"common/nav" %>

<body>
    <main>
        <div id="spacer">
            <h1>Your Profile</h1>
            <p>hello there!</p>
        </div>
    </main>
</body>

<%= erb :"common/footer" %>

</html>

