.container.text-center.w-100
    %h1
        All Users
    %hr
.container
    .row
        - @users.each do |user|
            %a.col-md-4.col-sm-6.col-xs-12.border.text-primary.btn.btn-light{href: "/users/view?id=#{user.id}"}
                = user.first_name + " " + user.last_name
                .text-secondary
                    = '@' + user.username
            %hr
