.container.text-center.w-100

    %h1 All Users 
    %h6.mb-3 (Sorted Alphabetically)

    .container
        - @users.each do |user|
            .row
                %a.col-12.border.text-primary.btn.btn-white.mb-1.bg-white{href: "/users/view?id=#{user.id}"}
                    = user.first_name + " " + user.last_name
                %hr
