- if user.streak_status == "none"
    .label.py-2.bg-danger.border.rounded.px-1.text-white.font-weight-light
        %b Uh oh!
        = user.streak_msg_own

- elsif user.streak_status == "pending" || user.streak_status == "at_risk"
    .label.py-2.label-warning.border.rounded.px-1.bg-warning.text-white.font-weight-light
        %b Keep it going!
        = user.streak_msg_own

- else
    .label.py-2.bg-success.border.rounded.px-1.text-white.font-weight-light
        %b Great Job!
        = user.streak_msg_own 