<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="styles/style.css?rnd=123">
    <link rel="icon" href="images/wordlogo.ico">
    <title><%=@page_name%></title>
</head>

<header>
    <h5 id="header2">&nbsp</h5>
    <br>
    <nav id="menu">
        <ul id="leftNav" class="side"><a href="/">Custom Game</a></ul>
        <ul id="header"><a href="/"><strong>Ben's Gym Tracker - <%=@page_name%></strong></a></ul>
        <ul id="rightNav" class="side"><a href="/">Leaderboard</a></ul>
    </nav>
    <br>
</header>