<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="styles/style.css?rnd=120">
    <link rel="stylesheet" href="../styles/style.css?rnd=120">
    <link rel="icon" href="images/icon.ico">
    <link rel="icon" href="../images/icon.ico">
    <title><%=@page_name%></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WDWXTBNB9Q"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WDWXTBNB9Q');
    </script>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3535287821836995"
     crossorigin="anonymous"></script>
</head>

<header>

<br>
    <nav id="menu">
        <ul id="header"><a href="/"><strong>Ben's Gym Tracker</strong></a></ul>
        <ul id="deleteMe">
        <div class="dropdown">
            <button class="dropbtn">Menu ▼</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/summary">Summary</a>
                <a href="/profile/">Stats</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        </ul>
    </nav>
</header>