<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="styles/style.css?rnd=123">
    <link rel="stylesheet" href="../styles/style.css?rnd=123">
    <link rel="icon" href="images/wordlogo.ico">
    <title><%=@page_name%></title>
</head>

<header>
    <p id="loggedInInfo">&nbsp</p>
    <script>
        var isloggedin = <%=session[:LoggedIn]%>
        if (isloggedin == true){
            document.getElementById('loggedInInfo').innerHTML = "Welcome back <%=session[:Nickname]%>, <a class='link' href='/logout'>logout</a>?"
        }
    </script>
    <br>
    <nav id="menu">
        <ul id="header"><a href="/"><strong>Ben's Gym Tracker</strong></a></ul>
    </nav>
    <br>
</header>