* {
    touch-action: manipulation;
}

body {
    margin: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-color: rgb(34, 85, 112);
    color: rgb(255, 255, 255);
}

body header {
    margin-top: 10px;
    text-align: center;
}

#header2{
    margin: 0;
}

#header{
    font-size: 1.5em;
}

#menu nav{
    position: sticky;
    top: 0;
}

#menu #logo{
    float: center;
}

#menu #header a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 1em;
}

#header{
    background-color: #436b91;
}

#menu #header #customHeader2{
    font-size: 0.6em;
}

nav ul{
    margin-left: 0;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    background-color: #5e96cb;
    border: 1px solid rgb(255, 255, 255);
}

nav ul:hover:not(.active) {
    background-color: rgb(38, 48, 74);
}

#menu .side a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

nav {
    margin: 0;
    padding: 5px;
    text-align: center;
}
nav ul {
    margin: 5px;
}

/* NAV */

#spacer{
    text-align:center;
    margin: 1em;
    padding: 1em;
    border-style: dotted;
    border-color: black;
    border-radius: 10px;
    color: rgb(255, 255, 255);

    background-color:#28537c;
}


#customLink{
    color: rgb(0, 0, 0);
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

/* Login Page */

#loginBox{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2em;
    background-color: rgb(74, 112, 170);
    color: rgb(255, 255, 255);
    border-style: dotted;
    border-radius: 1em;
}

/* Footer and below! */
footer {
    padding: 5px 10px 5px 0px;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 0.6em;
    text-align: center;
    background-color: #1e4366;
    color: rgb(255, 255, 255);
    position: fixed;
}

/* Stats Page */
table{
    border-color: rgb(17, 56, 81);
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 0.3em;
}

input{
    padding: 0.3em;
    text-align: center;
}

#editRow{
    background-color:rgb(7, 14, 68);
    font-size: 1em;
    font-weight: bold;
}
th{
    background-color:rgb(7, 46, 76);
    font-size: 1em;
    padding: 1em;
}

td{
    background-color: rgb(32, 67, 100);
    font-size: 1.2em;
}

.red{
    color: rgb(210, 38, 38);
}
.link{
    color: rgb(159, 159, 159);
}

/* Custom settings for different screen widths SMALLEST TO LARGEST*/

@media screen and (min-width: 220px){ /* Normal Phone */
    nav ul{
        border-radius: 0.2em;
        font-size: 1em;
    }
    nav #header{
        font-size: 1.2em;
    }
    body header {
        font-size: 1em;
    }
    #loginBox{
        width: 100%;
        margin: 0;
    }
    table{
        font-size: 0.8em;
    }
    #editRow #reps, #editRow #weight{
        width: 50%;
        font-size: 0.9em;
        background-color: rgb(255, 255, 255);
    }
    #buttonTD{
       padding-right: 1em;
    }
    #buttonTD input{
        margin: 0.1em;
        font-size: 0.8em;
        width: 100%;
    }
    #inputButton{
        padding: 0.2em;
        width: 120%;
        border-style: solid;
    }
    input{
        margin: 0.3em;
    }
    .button{
        text-decoration: none;
        border-radius: 0.5em;
        color: white;
        background: rgb(28, 156, 215);
        border-color: rgb(255, 255, 255);
    }
    #loginButton{
        width: 30%;
    }
    footer{
        font-size: 8px;
    }
}

@media screen and (min-width: 390px){ /* larger phone */
    body header {
        font-size: 1.2em;
    }
    #loginButton{
        width: 30%;
    }
    footer{
        font-size: 8px;
    }
}

@media screen and (min-width: 724px){ /* Tablet */
    nav ul{
        font-size: 1.5em;
    }
    nav #header{
        font-size: 2.2em;
    }
    body header {
        font-size: 1rem;
    }
    #spacer{
        margin-left: 5%;
        margin-right: 5%;
    }
    table{
        font-size: 1.2em;
    }
    #loginButton{
        width: 10%;
    }
    footer{
        font-size: 12px;
        position: fixed;
    }
    #menu #header #customHeader2{
        font-size: 0.5em;
    }
}

@media screen and (min-width: 1224px){ /* S Laptop */
    body header {
        font-size: 0.9em;
        margin: 1em;
    }
    footer{
        font-size: 12px;
        position: fixed;
    }
}
