* {
    touch-action: manipulation;
}

body {
    margin: 0;
    width: 100%;
    font-family: monospace;
    background-color: rgb(34, 85, 112);
    color: rgb(255, 255, 255);
}

body header {
    margin-top: 10px;
    text-align: center;
}

#header2{
    margin: 0;
}

header{
    font-size: 1.5em;
}

#menu #header a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 1em;
}

#header{
    background-color: #2b8ace;
}

#menu #header #customHeader2{
    font-size: 0.6em;
}

nav ul{
    margin-left: 0;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    background-color: #5e96cb;
    border: 0.1em solid rgb(9, 58, 99);
}

nav ul:hover:not(.active) {
    background-color: rgb(38, 48, 74);
}

#menu .side a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

nav {
    margin: 0;
    padding: 5px;
    text-align: center;
}
nav ul {
    margin: 5px;
}

/* NAV */

#spacer{
    text-align:center;
    margin: 1em;
    padding: 1em;
    background-color:rgb(51, 116, 170);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(9, 58, 99);
    border-radius: 1em;
    color: rgb(255, 255, 255);
}

#customSpacer{
    text-align: center;
    margin: 1em;
    padding: 1em;
    color: rgb(255, 255, 255);
}


#customLink{
    color: rgb(0, 0, 0);
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.button{
    text-decoration: none;
    border-radius: 0.5em;
    border-style: none;
    color: white;
    background: rgb(28, 156, 215);
    border-color: rgb(255, 255, 255);
}

.editButton{
    border-style: none;
    background-color: rgb(255, 255, 255);
}

/* Login Page */

#loginBox{
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2em;
    background-color:rgb(51, 116, 170);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(9, 58, 99);
    border-radius: 1em;
}

#loginButton{
    background-color: rgb(14, 75, 126);
    border-style: none;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.loginForm{
    text-decoration: none;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color: rgb(7, 40, 67);
    background: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    width: 30%;
}


/* Footer and below! */
footer {
    padding: 5px 10px 5px 0px;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    background-color: rgb(9, 58, 99);
    color: rgb(51, 116, 170);
}

/* Stats Page */
table{
    border-color: rgb(17, 56, 81);
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 0.3em;
}

input{
    padding: 0.3em;
    text-align: center;
}

#editRow{
    background-color:rgb(7, 14, 68);
    font-size: 1em;
    font-weight: bold;
}
th{
    background-color:rgb(7, 46, 76);
    font-size: 1em;
    padding: 1em;
}

td{
    background-color: rgb(32, 67, 100);
    font-size: 1.2em;
}

.red{
    color: rgb(210, 38, 38);
}
.link{
    color: rgb(159, 159, 159);
}

/* Custom settings for different screen widths SMALLEST TO LARGEST*/

@media screen and (min-width: 220px){ /* Normal Phone */
    p#loggedInInfo{
        font-size: 0.7em;
    }
    nav #header{
        border-radius: 0.2em;
        font-size: 1.5em;
    }
    #loginBox{
        width: 100%;
        margin: 0;
    }
    table{
        font-size: 0.8em;
    }
    #editRow #reps, #editRow #weight{
        width: 50%;
        font-size: 0.9em;
        background-color: rgb(255, 255, 255);
    }
    #buttonTD{
       padding-right: 1em;
    }
    #buttonTD input{
        margin: 0.1em;
        font-size: 0.8em;
        width: 100%;
    }
    #inputButton{
        padding: 0.2em;
        width: 120%;
        border-style: solid;
    }
    input{
        margin: 0.3em;
    }
    footer{
        font-size: 1em;
    }
}

@media screen and (min-width: 390px){ /* larger phone */
    p#loggedInInfo{
        font-size: 0.9em;
    }
    nav #header{
        border-radius: 0.2em;
        font-size: 1.5em;
    }
    footer{
        font-size: 1em;
    }
}

@media screen and (min-width: 724px){ /* Tablet */
    p#loggedInInfo{
        font-size: 0.9em;
    }
    nav #header{
        border-radius: 0.2em;
        font-size: 2em;
    }
    #spacer{
        margin-left: 5%;
        margin-right: 5%;
    }
    table{
        font-size: 1.2em;
    }
    footer{
        font-size: 1.2em;
        position: fixed;
    }
    #menu #header #customHeader2{
        font-size: 0.5em;
    }
    #loginBox{
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1224px){ /* Laptop */
    p#loggedInInfo{
        font-size: 0.9em;
    }
    nav #header{
        border-radius: 0.2em;
        font-size: 1.8em;
    }
    #spacer{
        width: 60%;
        margin: 0 auto;
    }
    footer{
        position: fixed;
    }
    #loginBox{
        width: 40%;
        margin: 0 auto;
    }
}

/* background styling */
body{
	margin:0;
	padding:0;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}