.card-body.justify-content-center.d-flex.text-center.py-1.mb-3{"data-controller": "set-form"}
  %form{action: allset_create_path, method: "POST", "data-set-form-target": "form", "data-action": "submit->set-form#submit"}
    %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token}
    %input{name: "exercise_id", placeholder: "ExID", value: @exercise.id.to_s, hidden: true}
    %input{name: "user_id", placeholder: "UserID", value: @exercise.user_id.to_s, hidden: true}
    - if @sets.any?
      - if @sets.first.created_at > Time.now.beginning_of_day
        %input.m-1.text-center.w-50{name: "weight", 
          placeholder: "Weight ("+@exercise.unit+")", 
          type: "number",
          inputmode: "decimal",
          step: "0.25",
          min: "0",
          value: @sets.first.weight.to_s}
        %input.m-1.text-center.w-25{name: "repetitions",
          placeholder: "Reps",
          type: "number",
          inputmode: "numeric",
          pattern: "[0-9]*",
          step: "1",
          min: "0",
          max: "100",
          value: @sets.first.repetitions.to_s}
      - else
        %input.m-1.text-center.w-50{name: "weight",
          placeholder: "Weight ("+@exercise.unit+")",
          type: "number",
          inputmode: "decimal",
          step: "0.25",
          min: "0"}
        %input.m-1.text-center.w-25{name: "repetitions",
          placeholder: "Reps",
          type: "number",
          inputmode: "numeric",
          pattern: "[0-9]*",
          step: "1",
          min: "0",
          max: "100"}
    - else 
      %input.m-1.text-center.w-50{name: "weight",
        placeholder: "Weight ("+@exercise.unit+")",
        type: "number",
        inputmode: "decimal",
        step: "0.25",
        min: "0"}
      %input.m-1.text-center.w-25{name: "repetitions",
        placeholder: "Reps",
        type: "number",
        inputmode: "numeric",
        pattern: "[0-9]*",
        step: "1",
        min: "0",
        max: "100"}
    .d-flex.flex-column
      .d-flex.justify-content-center.mb-2
        %label.mr-2
          %input{type: "checkbox", name: "isFailure", class: "text-danger", checked: @sets.any? && @sets.first.isFailure}
          Failure
        %label.mr-2
          %input{type: "checkbox", name: "isDropset", class: "text-info", checked: @sets.any? && @sets.first.isDropset}
          Dropset
        %label
          %input{type: "checkbox", name: "isWarmup", class: "text-secondary", checked: @sets.any? && @sets.first.isWarmup}
          Warmup
      .d-flex
        %button{type: "submit", class: "btn btn-sm w-100 btn-primary"} Add Set
        = link_to '', "/exercise/view?id=#{@exercise.id.to_s}", {class: "fa-solid fa-chart-line btn btn btn-success ml-1"}