.card-body.justify-content-center.d-flex.text-center
  %form{action: workout_create_path, method: "POST"}
    %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token}
    %input{name: "exercise_id", placeholder: "ExID", value: @exercise.id.to_s, hidden: true}
    %input{name: "user_id", placeholder: "UserID", value: @exercise.user_id.to_s, hidden: true}
    - if @sets.any?
      - if @sets.first.created_at > Time.now.beginning_of_day
        %input.m-1.text-center.w-25{name: "repetitions", placeholder: "Reps", type: "number", step: "1", min: "0", max: "100", value: @sets.first.repetitions.to_s}
        %input.m-1.text-center.w-50{name: "weight", placeholder: "Weight ("+@exercise.unit+")", type: "number", step: "0.25", min: "0", value: @sets.first.weight.to_s}
      - else
        %input.m-1.text-center.w-25{name: "repetitions", placeholder: "Reps", type: "number", step: "1", min: "0", max: "100"}
        %input.m-1.text-center.w-50{name: "weight", placeholder: "Weight ("+@exercise.unit+")", type: "number", step: "0.25", min: "0"}
    - else 
      %input.m-1.text-center.w-25{name: "repetitions", placeholder: "Reps", type: "number", step: "1", min: "0", max: "100"}
      %input.m-1.text-center.w-50{name: "weight", placeholder: "Weight ("+@exercise.unit+")", type: "number", step: "0.25", min: "0"}
    %h6.text-secondary.m-1.p-0
      %input.text-danger.m-1.text-center.w-20{name: "isFailure", type: "checkbox"} 
      %label.text-danger Failure?
      %input.m-1.text-center.w-20{name: "isDropset", type: "checkbox"} 
      %label.text-info Dropset?

    %button.m-1{type: "submit", class: "btn btn-sm w-100 btn-outline-primary"} Add