.container.text-center
    .h5.text-danger No Permission
    %hr
    %p.text-muted
        You do not have permission to view this page. Please return to the 
        %a{href: "/"} homepage
        and try again.