.container.text-center
    .h5.text-danger Page not Found
    %hr
    %p.text-muted
        The page you requested was not found, please return to the
        %a{href: "/"} homepage
        and try again.